:root.light {
  --border-btn: 1px solid rgb(36, 36, 36);
  --color-base-bg: rgb(240, 240, 240);
  --color-base-text: rgb(18, 18, 18);
  --color-btn-bg: rgb(220, 220, 220);
}

:root.dark {
  --border-btn: 1px solid rgb(220, 220, 220);
  --color-base-bg: rgb(18, 18, 18);
  --color-base-text: rgb(240, 240, 240);
  --color-btn-bg: rgb(36, 36, 36);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .container {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

button {
  border: var(--border-btn);
  padding: 10px 28px;
  background-color: transparent;
  color: var(--color-base-text);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}